*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}.header {
    padding: 10px;
    text-align: center;
    background: #500000;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}#game{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}#tiles{
    width: 300px;
    height: 300px;
}    #b1, #b2, #b3, #b4, #b5, 
#b6, #b7, #b8, #b9 {
    width: 70px;
    height: 70px;
    margin: 5px 15px 5px 10px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}    /* Reset Button */
#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;

    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Player turn space */
#print {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;

    color: dodgerblue;
    font-size: 20px;
}

/* Main Container */
#main {
    text-align: center;
}

/* Game Instruction Text */
#ins {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif;
          
    color: dodgerblue;
    font-size: 17px;
}

/* Add a black background color to the top navigation */
.topnav {
    border-top: 2px solid white;
    background-color: #500000;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
